In [16]:
from preprocessing.data_preprocessor import DataPreprocessor

In [17]:
import numpy as np
import pandas as pd

data = pd.read_csv('datasets/marketing_campaign.csv', sep='	')
data = pd.read_csv('datasets/passanger_satisfaction.csv')
data = pd.read_csv('datasets/weatherAUS.csv')
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [19]:
X, y = DataPreprocessor(data, 'RainTomorrow').preprocess()

---------------Preprocessing the dataset---------------
---------------Extracting Day, Month and Year--------------
---------------Deleting redundant features--------------
Feature: Date_hour has only one unique value. It will be removed.
Feature: Date_minute has only one unique value. It will be removed.
Feature: Date_second has only one unique value. It will be removed.
---------------Handling missing values------------------
The missing values in the feature "MinTemp" are filled with the median value.
The missing values in the feature "MaxTemp" are filled with the median value.
The missing values in the feature "Rainfall" are filled with the median value.
The missing values in the feature "Evaporation" are filled with the median value.
The missing values in the feature "Sunshine" are filled with the median value.
The missing values in the feature "WindGustDir" are filled with the most frequent value.
The missing values in the feature "WindGustSpeed" are filled with the median value.
The missing values in the feature "WindDir9am" are filled with the most frequent value.
The missing values in the feature "WindDir3pm" are filled with the most frequent value.
The missing values in the feature "WindSpeed9am" are filled with the median value.
The missing values in the feature "WindSpeed3pm" are filled with the median value.
The missing values in the feature "Humidity9am" are filled with the median value.
The missing values in the feature "Humidity3pm" are filled with the median value.
The missing values in the feature "Pressure9am" are filled with the median value.
The missing values in the feature "Pressure3pm" are filled with the median value.
The missing values in the feature "Cloud9am" are filled with the median value.
The missing values in the feature "Cloud3pm" are filled with the median value.
The missing values in the feature "Temp9am" are filled with the median value.
The missing values in the feature "Temp3pm" are filled with the median value.
The missing values in the feature "RainToday" are filled with the most frequent value.
The missing values in the feature "RainTomorrow" are filled with the most frequent value.
---------------Handling outliers------------------------
26 outliers in the feature MinTemp were deleted.
333 outliers in the feature MaxTemp were replaced with the median value.
584 outliers in the feature Humidity9am were replaced with the median value.
666 outliers in the feature Pressure3pm were replaced with the median value.
151 outliers in the feature Temp9am were replaced with the median value.
445 outliers in the feature Temp3pm were replaced with the median value.
---------------1. Encoding categorical features ------
---------------2. Min max scaling --------------------
---------------3. Encoding of target------------
Target column was encoded as follows:
{'No': 0, 'Yes': 1}
---------------Dataset preprocessing is done------------

In [11]:
X

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,Date_year,Date_month,Date_day,RainToday_No,RainToday_Yes
0,0.041667,0.532808,0.517241,0.001617,0.033103,0.57931,0.866667,0.294574,0.866667,0.933333,...,0.4800,0.888889,0.555556,0.497845,0.519305,0.1,1.000000,0.000000,True,False
1,0.041667,0.375328,0.559387,0.000000,0.033103,0.57931,0.933333,0.294574,0.400000,1.000000,...,0.4912,0.555556,0.555556,0.504310,0.567568,0.1,1.000000,0.033333,True,False
2,0.041667,0.519685,0.570881,0.000000,0.033103,0.57931,1.000000,0.310078,0.866667,1.000000,...,0.5056,0.555556,0.222222,0.586207,0.546332,0.1,1.000000,0.066667,True,False
3,0.041667,0.422572,0.614943,0.000000,0.033103,0.57931,0.266667,0.139535,0.600000,0.000000,...,0.5712,0.555556,0.555556,0.523707,0.610039,0.1,1.000000,0.100000,True,False
4,0.041667,0.640420,0.697318,0.002695,0.033103,0.57931,0.866667,0.271318,0.066667,0.466667,...,0.4624,0.777778,0.888889,0.517241,0.671815,0.1,1.000000,0.133333,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,0.854167,0.254593,0.526820,0.000000,0.033103,0.57931,0.000000,0.193798,0.600000,0.066667,...,0.6912,0.555556,0.555556,0.351293,0.530888,1.0,0.454545,0.666667,True,False
145456,0.854167,0.275591,0.563218,0.000000,0.033103,0.57931,0.400000,0.124031,0.600000,0.200000,...,0.6720,0.555556,0.555556,0.368534,0.571429,1.0,0.454545,0.700000,True,False
145457,0.854167,0.322835,0.593870,0.000000,0.033103,0.57931,0.200000,0.240310,0.600000,0.933333,...,0.6352,0.555556,0.555556,0.403017,0.602317,1.0,0.454545,0.733333,True,False
145458,0.854167,0.385827,0.595785,0.000000,0.033103,0.57931,0.600000,0.170543,0.666667,0.200000,...,0.6304,0.333333,0.222222,0.459052,0.600386,1.0,0.454545,0.766667,True,False
145459,0.854167,0.572178,0.511494,0.000000,0.033103,0.57931,0.866667,0.255814,0.133333,0.133333,...,0.6528,0.888889,0.888889,0.456897,0.501931,1.0,0.454545,0.800000,True,False

In [27]:
# XGBOOST

from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)


model = XGBClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
accuracy = accuracy_score(np.array(y_test), y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

print(classification_report(y_test, y_pred))

Accuracy: 86.28%
              precision    recall  f1-score   support

           0       0.88      0.95      0.92     22676
           1       0.76      0.56      0.64      6411

    accuracy                           0.86     29087
   macro avg       0.82      0.75      0.78     29087
weighted avg       0.86      0.86      0.85     29087